.xmake/
/build/.build_cache
/build/.deps
/build/.objs
/build/**/main
/build/**/main.exe
/build/**/output.txt
/build/**/compile.main.pdb
/build/**/main.ilk
/build/**/main.pdb
/build/**/tmp.txt
.DS_Store
.vscode
*.bak